<div class="container">
    <p>Actions</p>
    <p>pick an action for this step</p>
  <div class="form-container">
    <form>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" />
    </form>
  </div>

  <div class="container">
    <div class="paragraph-container">
      <p>Good days</p>
    </div>
  </div>

  <div> <ul>
    <li><a routerLink="/card">Action</a></li>
  </ul>love</div>
  <div><i class="fa fa-slack" aria-hidden="true"></i>love</div>
  <div><i class="fa fa-comment" aria-hidden="true"></i>love</div>
  <div>love</div>
  <div>love</div>
  <div>love</div>
  <div>love</div>
  <div>love</div>
  <div>love</div>
  <div>love</div>
  <div>love</div>
  <div>love</div>
  <div>love</div>
  <div>love</div>
</div>
