<div class="container" *ngIf="!isContainerHidden">
 
  <div class="diff">
   <div class="first">
    <p>Actions</p>
    <p>pick an action for this step</p>

   </div>
    <div class="remove">
      <button class="butt" (click)="hideContainer()">x</button>
    </div>
  </div>

  <div class="content">
    <form>
      <input type="text" id="name" name="name" placeholder="Search Action" />
    </form>
  </div>

  <div class="content">
    <p>LC - Premium Action</p>
  </div>

  <div class="content">
    <div class="google">
      <div class="go">
        <!-- <p>go</p> -->
        <p class="sheets">Google Sheets</p>
      </div>
      <i class="fa fa-graduation-cap" aria-hidden="true"></i>
    </div>
  </div>
  <div class="content">
    <div class="google">
      <div class="go">
        <!-- <p>go</p> -->
        <p class="sheets">Stack</p>
      </div>
      <i class="fa fa-graduation-cap" aria-hidden="true"></i>
    </div>
  </div>
  <div class="content">
    <div class="google">
      <div class="go">
        <!-- <p>go</p> -->
        <p class="sheets">Custom Webhook</p>
      </div>
      <i class="fa fa-graduation-cap" aria-hidden="true"></i>
    </div>
  </div>
  <div class="content">
    <div class="google">
      <div class="go">
        <!-- <p>go</p> -->
        <p class="sheets">Date/Time Formatter</p>
      </div>
      <i class="fa fa-graduation-cap" aria-hidden="true"></i>
    </div>
  </div>
  <div class="content">
    <div class="google">
      <div class="go">
        <!-- <p>go</p> -->
        <p class="sheets">Number formatter</p>
      </div>
      <i class="fa fa-graduation-cap" aria-hidden="true"></i>
    </div>
  </div>
  <div class="content">
    <p>Workflow Ai</p>
  </div>
  <div class="content">
    <div class="google">
      <div class="go">
        <!-- <p>go</p> -->
        <p class="sheets">ChatGTP</p>
      </div>
      <i class="fa fa-graduation-cap" aria-hidden="true"></i>
    </div>
  </div>
  <div class="content">
    <p>External Communication</p>
  </div>
  <div class="content">
    <div class="google">
      <div class="go">
        <!-- <p>go</p> -->
        <a class="sheets" (click)="showFormOnClick()">Send Email</a>
      </div>
      <i class="fa fa-graduation-cap" aria-hidden="true"></i>
    </div>
  </div>
  <div class="content">
    <div class="google">
      <div class="go">
        <!-- <p>go</p> -->
        <p class="sheets">Send Sms</p>
      </div>
      <i class="fa fa-graduation-cap" aria-hidden="true"></i>
    </div>
  </div>
  <div class="content">
    <div class="google">
      <div class="go">
        <!-- <p>go</p> -->
        <p class="sheets">Call</p>
      </div>
      <i class="fa fa-graduation-cap" aria-hidden="true"></i>
    </div>
  </div>
  <div class="content">
    <div class="google">
      <div class="go">
        <!-- <p>go</p> -->
        <p class="sheets">Voicemail</p>
      </div>
      <i class="fa fa-graduation-cap" aria-hidden="true"></i>
    </div>
  </div>
  <div class="content">
    <div class="google">
      <div class="go">
        <!-- <p>go</p> -->
        <p class="sheets">Messenger</p>
      </div>
      <i class="fa fa-graduation-cap" aria-hidden="true"></i>
    </div>
  </div>
  <div class="content">
    <div class="google">
      <div class="go">
        <!-- <p>go</p> -->
        <p class="sheets">Instagram DM</p>
      </div>
      <i class="fa fa-graduation-cap" aria-hidden="true"></i>
    </div>
  </div>
  <div class="content">
    <div class="google">
      <div class="go">
        <!-- <p>go</p> -->
        <p class="sheets">Manual SMS</p>
      </div>
      <i class="fa fa-graduation-cap" aria-hidden="true"></i>
    </div>
  </div>

  <!-- 
  <div *ngIf="showComponent">
    <app-card-form></app-card-form>
  </div> -->
</div>

<div class="cont" *ngIf="showForm">
  <div class="different">
    <div class="first">
     <p>Email</p>
     <p>Send an email to this contact</p>
   </div>
   </div>

      <div class="sese">
        <button class="red" (click)="showFormClick()">Edit</button>
        <button  class="blue" (click)="onStatistics()">Statistics</button>
      </div>
 
  
  <div class="something" *ngIf="FormClick">
    <form>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="fromEmail">From Email:</label>
        <input type="email" id="fromEmail" name="fromEmail" required>

        <label for="subject">Subject:</label>
        <input type="text" id="subject" name="subject" required>

        <label for="template">Template:</label>
        <select id="template" name="template" required>
            <option value="template1">Template 1</option>
            <option value="template2">Template 2</option>
            <option value="template3">Template 3</option>
        </select>

        <label for="message">Message:</label>
        <textarea id="message" name="message" required></textarea>

        <button type="submit">Submit</button>
    </form>
  </div>

  <div *ngIf="StatClick"> <!-- Corrected property name -->
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur expedita sit qui et ex officiis magni magnam enim porro delectus, harum eum excepturi, nesciunt, quos non corporis repudiandae commodi quas.</p>
  </div>

</div>
