.container{
    background-color: white;
    min-height: 100vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);


}
.content{
    padding: .5rem;
    border: 1px solid rgb(245, 233, 233);
    margin: .5rem;
}

input{
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
}

.google{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.diff{
    background-color: rgb(13, 13, 36);
    color: white;
    display: flex;
    /* justify-content: space-around; */
    align-items: start;
    padding: 1rem;
}


.go{
    display: flex;
    align-items: center;

}

.sheets{
    margin-left: 1rem;
}

.content form {
    width: 100%;
  }
  
  .content input {
    width: 100%;
    box-sizing: border-box; /* Include padding and border in the width calculation */
  }
  
/* .remove{
    display: flex;
    justify-content: space-around;

} */
.butt{
    font-size: 1rem;
    margin-left: 6rem;
    padding: 2px;
    margin-top: 1rem;
}