

.container{
    margin: 5rem auto;
    background-color: rgb(241, 235, 235);
    width: 50%;
    height: 50vh;
}

.para{
    padding: 5rem 15rem;
}

p{
    font-size: 3rem;
    margin-bottom: 3rem;
}
a{
    text-decoration: none;
    color: rgb(15, 15, 15);
    font-size: 1rem;
   padding-bottom: .5rem;
   border-bottom: 2px solid black;
}