form {
  /* max-width: 500px; */
  margin: 0 auto;
}

.something {
  width: 100%;
  min-height: 100vh;
  padding: 1rem;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
select,
textarea {
  width: 100%; /* This rule ensures that inputs, selects, and textareas have a width of 100% */
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;

}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.different{
  background-color: rgb(13, 13, 36);
  color: white;
  align-items: start;
  padding: 1rem;
}
