<div class="header-bellow">
  <div>
    <a class="anchor" [routerLink]="['/actions']" >Actions</a>
  </div>


  <div class="mid-container">
    <div class="container" routerLinkActive="active">
        <a class="anchor" routerLink="/actions">Actions</a>
    </div>
    <div class="container" routerLinkActive="active">
        <a class="anchor" routerLink="/settings">Settings</a>
    </div>
    <div class="container" routerLinkActive="active">
        <a class="anchor" routerLink="/history">History</a>
    </div>
    <div class="container" routerLinkActive="active">
        <a class="anchor" routerLink="/status">Status</a>
    </div>
    <div class="container" routerLinkActive="active">
        <a class="anchor" routerLink="/food">Food</a>
    </div>
</div>

<div class="end-container">
    <div class="end">
        <a class="anchor" href="">Test Workflow</a>
    </div>
    <div class="end">
        <a class="anchor" href="">Draft <i class="fa fa-toggle-off" aria-hidden="true"></i></a>
    </div>
    <div class="end">
        <a class="anchor" href="">Publish</a>
    </div>
  </div>
</div>
