.header-bellow {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: rgb(230, 230, 230);
  align-items: center;
}

.mid-container {
  display: flex;
}
.header-bellow .anchor {
  text-decoration: none;
  color: black;
}
.end-container .anchor {
  cursor: pointer;
}

.header-bellow .anchor,
.mid-container .anchor,
.end-container .anchor {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.mid-container .anchor {
  text-decoration: none;
  color: black;
}

.container:not(:last-child) {
  margin-right: 1rem;
}

.end-container {
  display: flex;
}

.end:not(:last-child) {
  margin-right: 1rem;
}

.mid-container .container.active .anchor {
    padding-bottom: 0.5rem;
    border-bottom: 3px solid black
}


/* Media Queries */
@media only screen and (max-width: 480px) {
  .header-bellow {
    flex-direction: column;
    align-items: flex-start;
  }

  .mid-container,
  .container,
  .end-container,
  .end {
    width: 100%;
  }

  .mid-container {
    margin-top: 1rem;
  }

  .container {
    margin-bottom: 1rem;
  }
}

@media only screen and (min-width: 768px) {
  .container,
  .end {
    margin-bottom: 0;
  }
}