.work-container{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    align-items: start;
    position: relative;
}

.work-first{
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
}

button {
    padding: .7rem .7rem;
    margin-bottom: .5rem;
    border: none;
    outline: none;
    border-radius: .5rem;
    transition: box-shadow 0.3s ease, border 0.3s ease;
    background-color: white;
}

button:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.increment{
    background-color: rgb(221, 214, 214);
}
.decrement{
    background-color: rgb(221, 214, 214);
}

.trigar{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.work-trigar{
    padding: 1rem .5rem;
    border: 1rem solid rgb(219, 217, 217);
    margin-bottom: 1rem;
}

.trigar > div:nth-child(2) > span {
    margin-bottom: 1rem;
}

.work-action{
    margin-top: 1rem;
   
}
.work-increment{
display: flex;
flex-direction: column;
}

.work-lorem{
    width: 20%;
    /* border: 6px solid rgb(15, 15, 14); */
    height: 100vh;
    z-index: 999;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -7rem;
}